---
function:
  name: omni-doterra-project44-reports-${self:provider.stage}
  description: sending doterra project44 reports
  handler: src/doterraProject44Report/index.handler
  memorySize: 1024
  timeout: 90
  layers:
    - { Ref: OmniReportsLayerLambdaLayer }
  package:
    patterns:
     - '!**/*'
     - 'src/doterraProject44Report/index.js'  
     - "src/shared/query/doterraProject44Report.js"
  events:
    - existingS3:
        bucket: 'dw-datafiles'
        events:
          - s3:ObjectCreated:*
        rules:
          - prefix: 'doterra/'
          - suffix: '.csv'
  # environment:
  #   DB_PORT: ${ssm:/omni-dw/${self:provider.stage}/db/port}
  #   DB_HOST: ${ssm:/omni-dw/${self:provider.stage}/db/host~true}
  #   DB_PASSWORD: ${ssm:/omni-dw/${self:provider.stage}/db/password.unparsed~true}
  #   DB_DATABASE: ${ssm:/omni-dw/${self:provider.stage}/db/name~true}
  #   DB_USER: ${ssm:/omni-dw/${self:provider.stage}/db/user~true}
  #   # SFTP_HOST: ${ssm:/omni-danaher-monthly-reports/${self:provider.stage}/sftp.host~true}
  #   # SFTP_PORT: ${ssm:/omni-danaher-monthly-reports/${self:provider.stage}/sftp.port~true}
  #   # SFTP_USERNAME: ${ssm:/omni-danaher-monthly-reports/${self:provider.stage}/sftp.username~true} 
  #   # SFTP_PASSWORD: ${ssm:/omni-danaher-monthly-reports/${self:provider.stage}/sftp.password~true}
  #   # ERROR_SNS_ARN: ${ssm:/omni-reports/${self:provider.stage}/error-notification/sns/arn}
  #   # FUNCTION_NAME: omni-danaher-monthly-reports-${self:provider.stage}
  #   S3_BUCKET_NAME: ${ssm:/omni-danaher-monthly-reports/${self:provider.stage}/s3_bucket_name}