---
function:
  name: omni-hydrafacial-report-${self:provider.stage}
  handler: src/hydraFacialReport/index.handler
  memorySize: 1024
  timeout: 90
  layers:
    - { Ref: OmniReportsLayerLambdaLayer }
  environment:
    DEFAULT_AWS: ${self:provider.region}
    DB_PORT: ${ssm:/omni-dw/prod/db/port}
    DB_HOST: ${ssm:/omni-dw/prod/db/host~true}
    DB_PASSWORD: ${ssm:/omni-dw/prod/db/password~true}   
    DB_DATABASE: ${ssm:/omni-dw/prod/db/name~true}
    DB_USER: ${ssm:/omni-dw/prod/db/user~true}
    SMTP_HOST: ${ssm:/omni-dw/hydraFacialReport/${self:provider.stage}/smtp/host~true}
    SMTP_PORT: ${ssm:/omni-dw/hydraFacialReport/${self:provider.stage}/smtp/port~true}
    SMTP_USER: ${ssm:/omni-dw/hydraFacialReport/${self:provider.stage}/smtp/user~true}
    SMTP_PASSWORD: ${ssm:/omni-dw/hydraFacialReport/${self:provider.stage}/smtp/password~true}
    SMTP_SENDER: ${ssm:/omni-dw/hydraFacialReport/${self:provider.stage}/smtp/sender~true}
    SMTP_RECEIVER: ${ssm:/omni-dw/hydraFacialReport/${self:provider.stage}/smtp/receiver~true}
    TABLE_NAME: ${ssm:/omni-dw/hydraFacialReport/${self:provider.stage}/dynamoDb/table/name~true}

  package:
    patterns:
      - '!**/*'
      - 'src/hydraFacialReport/**'
      - 'src/shared/**'
  vpc:
    securityGroupIds:
      - ${ssm:/omni-dw/${self:provider.stage}/lambda/sgId}
    subnetIds:
      - ${ssm:/omni-dw/${self:provider.stage}/lambda/subnetA}
      
  events:
    - schedule: cron(0 17,22 * * ? *)
